{% extends "base.html" %}

{% load i18n static %}

{% block content %}
    <!--begin home section -->
    <section class="home-section" id="home">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-7-->
                <div class="col-md-7 padding-top-70">

                    <h1>Want to share images?</h1>

                    <p>
                    Looking for a dead-simple way to share some images but are ashamed of what Imgur has become? Don't
                    want your simple and amazing image host to turn into a bullshit social network? Then pay for your
                    crap!
                    </p>

                    <p>
                    {{ request.site.name }} is paid-only. It's no-hassle, one-click, super easy image uploads, and it's
                    cheap. So cheap, the only way to pay will be yearly, because it's too cheap to pay monthly.
                    </p>

                    <p>
                    Keep "social" away. Pay for what you use.
                    </p>
                </div>
                <!--end col-md-7-->

                <!--begin col-md-5-->
                <div class="col-md-5 wow bounceIn">

                    <!--begin register-form-wrapper-->
                    <div class="register-form-wrapper wow bounceIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;">

                        <h3>Free trial! Sign up now!</h3>

                        <!--begin form-->
                        <div>
                            <p style="color: #7c8595">You will receive an email with a secure login link.</p>

                            <form id="register-form" class="register-form register" action="{% url "tokenauth:login" %}?next={{ request.GET.next }}" method="post">{% csrf_token %}

                                <input class="register-input white-input" required="" name="email" placeholder="Enter your email address" type="email">

                                <input value="Sign up! Free shit!" class="register-submit" type="submit">

                            </form>
                            <!--end register form -->

                        </div>
                        <!--end form-->

                    </div>
                    <!--end register-form-wrapper-->

                </div>
                <!--end col-md-5-->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end home section -->

  	<!--begin services section -->
    <section class="section-grey section-top-border" id="features">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12-->
                <div class="col-md-12 text-center padding-bottom-10">

                    <h2 class="section-title">Listen up</h2>

                    <p class="section-subtitle">
                    These are the features.
                    </p>

                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

            <!--begin row -->
            <div class="row">

                <div class="col-md-4">
                    <div class="feature-box">
                        <i class="fab fa-rocketchat"></i>
                        <h4>This is my project</h4>
                        <p>
                        You are a guest here. You can use {{ request.site.name }}, and it'll always be great, because
                        I'm great. I've even open-sourced it.
                        </p>
                    </div>
                </div>

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="feature-box">
                        <i class="fas fa-chart-line"></i>
                        <h4>That's right</h4>
                        <p>
                        I've <a href="https://gitlab.com/stavros/imgz/">open-sourced it</a>, it's all open.
                        If you need anything, let me know, or just write it yourself.
                        </p>
                    </div>
                </div>
                <!--end col-md-4 -->

                <!--begin col-md 4-->
                <div class="col-md-4">

                    <div class="feature-box">

                        <i class="fas fa-desktop"></i>

                        <h4>Desktop client</h4>

                        <p>
                        There isn't one. There's a command-line client or just use the webpage. It's simple, what do you
                        want.
                        </p>

                    </div>
                </div>
                <!--end col-md-4 -->

            </div>
            <!--end row -->

            <!--begin row -->
            <div class="row">

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="feature-box">

                        <i class="fas fa-hand-holding-usd"></i>

                        <h4>Cheap</h4>

                        <p>
                        It's super cheap. Like, $12/yr. And that includes bandwidth.  There's even a free trial because
                        I'm nice.
                        </p>

                    </div>
                </div>
                <!--end col-md-4 -->

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="feature-box">

                        <i class="fas fa-rocket"></i>

                        <h4>Super fast</h4>

                        <p>
                        We have CDNs and Rust and all that fast crap. It's amazing. Yeah, there's an API too. There's
                        even a cli utility.<br><code>pip install imgz-cli</code>
                        </p>

                    </div>
                </div>
                <!--end col-md-4 -->

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="feature-box">

                        <i class="fas fa-tachometer-alt"></i>

                        <h4>Clocks</h4>

                        <p>
                        They're running out. For other image hosts. You can't just serve images for free, it's not
                        sustainable. Don't be the product.
                        </p>

                    </div>
                </div>
                <!--end col-md-4 -->


            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end services section -->

    <!--begin somethingelse section -->
    <section class="section-blue small-paddings" id="login">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12 -->
                <div class="col-md-12 text-center padding-top-50 padding-bottom-20">

                    <h3 class="white-text">Already have an account?<br>No you don't.</h3>
                    <p class="white-text">Try to log in below if you think you do anyway.</p>

                </div>
                <!--end col-md-12 -->

                <!--begin col-md-12-->
                <div class="col-md-12 padding-bottom-40">

                    <!--begin somethingelse_form_wrapper -->
                    <div class="somethingelse_form_wrapper">

                        <!--begin somethingelse_form_box -->
                        <div class="somethingelse_form_box">
                            <!--begin somethingelse-form -->
                            <form id="somethingelse-form" class="somethingelse-form" action="{% url "tokenauth:login" %}?next={{ request.GET.next }}" method="post">{% csrf_token %}

                                <input id="email_somethingelse" type="email" name="email" placeholder="Enter your email address">

                                <input type="submit" value="Log in" id="submit-button-somethingelse">
                            </form>
                            <!--end somethingelse-form -->

                        </div>
                        <!--end somethingelse_form_box -->

                    </div>
                    <!--end somethingelse_form_wrapper -->

                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end somethingelse section -->

	<!--begin section-white -->
    <section class="section-white">

        <!--begin container-->
        <div class="container">

            <!--begin row-->
            <div class="row">

                <!--begin col-md-6-->
                <div class="col-md-6 padding-top-20">

                	<h3>Host your images</h3>

                    <p>
                    If you want a simple image host that shares images and gets the hell out of the way,
                    {{ request.site.name }} is for you. The only catch is that you have to pay. Don't be a cheapskate!
                    Ensure your future now!
                    </p>

                	<ul class="benefits">
						<li><i class="fa fa-check"></i> Efficient, reliable and cheap.</li>
						<li><i class="fa fa-check"></i> Pay for your shit.</li>
						<li><i class="fa fa-check"></i> Here's a nice illustration of a Polaroid.</li>
					</ul>

                </div>
                <!--end col-md-6-->

                <!--begin col-md-6-->
                <div class="col-md-6">

                    <img src="{% static "images/polaroid.png" %}" class="hero-image width-100 box-shadow" alt="pic">

                </div>
                <!--end col-sm-6-->

            </div>
            <!--end row-->

        </div>
        <!--end container-->


        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12-->
                <div class="offset-md-2 col-md-8" style="padding-top: 50px">

                    <h2 class="section-title">Alternative</h2>

                    <p class="section-subtitle">
                    As <a href="https://news.ycombinator.com/item?id=28681085">antihero said on HN</a>:<br>
                    If you don't mind using AWS you can just set up an S3 bucket and a point a CloudFront distro to
                    it (takes &lt;5mins) and then just do
<code>
    <pre>
    upload() {
      aws s3 cp ${@:2} $1 s3://$BUCKET_NAME
      echo https://$CLOUDFRONT_DOMAIN/$1 | pbcopy
    }
    </pre>
</code>
                    </p>
                    <p>
                    Piece of cake!
                    </p>

                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->
    </section>
    <!--end section-white-->
{% endblock %}
