{% extends "base.html" %}

{% load human_size %}

{% block head %}
<script>
window.onload = function () {
    var isAdvancedUpload = function () {
        var div = document.createElement('div');
        return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
    }();

    if (isAdvancedUpload)
    {
        var form = document.getElementById("drag-drop");
        var input = form.querySelector('input[type="file"]');
        var label = form.querySelector('label[for="id_image"]');

        // Block label from doing anything while clicked. Previously, in
        // Chrome (including Android) this caused a file chooser to be opened
        // twice; once when the label was clicked, and once when the event
        // propagated up to the parent `#drag-drop`.
        label.style.pointerEvents = 'none';

        document.getElementById("id_image").addEventListener('change', function(e) {
            document.getElementById("upload_form").querySelector(".drag-files-label").innerHTML = e.target.files[0].name;
        });

        ['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop'].forEach(function (event) {
            form.addEventListener(event, function (e) {
                e.preventDefault();
                e.stopPropagation();
            });
        });

        ['dragover', 'dragenter'].forEach(function (event) {
            form.addEventListener(event, function () {
                form.classList.add('dragover');
            });
        });

        ['dragleave', 'dragend', 'drop'].forEach(function (event) {
            form.addEventListener(event, function () {
                form.classList.remove('dragover');
            });
        });

        document.getElementById("drag-drop").addEventListener('click', function (e) {
            document.getElementById("id_image").click(e);
        });

        form.addEventListener('drop', function (e) {
            var droppedFiles = e.dataTransfer.files; // the files that were dropped

            if (droppedFiles.length == 1)
            {
                document.getElementById("id_image").files = droppedFiles;
                form.querySelector(".drag-files-label").innerHTML = droppedFiles[0].name;
            } else {
                alert("What do you think you're doing? You can only upload a single file.");
            }
        });
    }
};
</script>
{% endblock %}

{% block title %}Upload an image{% endblock %}
{% block ogtitle %}Upload an image{% endblock %}

{% block content %}
  	<!--begin services section -->
    <section class="section-grey section-top-border" id="features">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12-->
                <div class="col-md-8 offset-md-2 text-center padding-bottom-10">
                    <h3>Upload an image</h3>

                    {% if request.user.is_upgraded %}
                    <p>
                    You can upload an image using this shitty form:
                    </p>



                    <p>
                    <form id="upload_form" method="post" enctype="multipart/form-data" action="{% url "main:image-upload" %}">
                        {{ form.non_field_errors }}

                        <div id="drag-drop" class="drag-drop">
                            <label class="drag-files-label" for="{{ form.image.id_for_label }}">
                                Drop your file here or click to select
                            </label>
                            <div class="col-sm-10">
                                <input type="file" accept="image/*" class="form-control-file" name="image" required id="id_image">
                            </div>
                        </div>

                        <div class="form-group row">
                            {{ form.title.errors }}
                            <label class="col-sm-2 col-form-label" for="{{ form.title.id_for_label }}">Image title</label>
                                <div class="col-sm-10">
                                    <input type="text" name="title" class="form-control" maxlength="200"
                                    id="id_title" placeholder="My amazing title, such prose">
                                </div>
                        </div>


                        <div class="form-group row">
                            {{ form.expires.errors }}
                            <label class="col-sm-2 col-form-label" for="{{ form.expires.id_for_label }}">Expires in</label>
                            <div class="col-sm-10">
                                <select name="expires" id="id_expires" style="width: 100%">
                                    <option value="10">ten minutes</option>
                                    <option value="60">an hour</option>
                                    <option value="1440">a day</option>
                                    <option value="10080">a week</option>
                                    <option value="20160">two weeks</option>
                                    <option value="43200">a month</option>
                                    <option value="" selected="">never</option>
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-blue small scrool">Upload!</button>
                    </form>
                    </p>
                    {% else %}
                    <p>
                    You can't do anything until you pay! Go back.
                    </p>
                    {% endif %}
                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end services section -->
{% endblock %}
